body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
.projects {
    margin-bottom: 50px;
}
.main {
    display: flex;
    flex-direction: row-reverse;
    
    width: 1200px;
    margin: 0 auto;
}
.main-content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}
.about {
    margin-bottom: 40px;
}
.about-posihion {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-bottom: 20px;
}
.about-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}
.about-descriphion {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.project-list {
  padding: 0;
  margin-left: 15px;  
}
.project, .project-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project-link {
    margin-left: 10px;
}
.project-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.work {
    margin-bottom: 43px;
}
.posihion-work {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.organizahion {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}
.period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.line {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;   
}
.work-list {
    padding: 0;
    margin-left: 15px;
}
.work-list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.education {
    margin-left: 15px;
}
.education-item {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 12px;
}
.education-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 11px;
}
.education-posihion {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin-bottom: 12px;
}
.sidebar {
    background: #1E2939;
    padding-top: 40px;
    width: 370px;
}
.sidebar img {
    margin-bottom: 50px;
}
.contacts, .tech-skills, .soft-skills {
    margin-left: 40px;
}
.contacts {
    margin-bottom: 50px;
}
.sidebar-title {
    color: #FFFFFF;
    font-style: Bold;
    font-size: 22px;
    line-height: 27px;
    line-height: 100%;
    margin-bottom: 10px;
}
.sidebar-title1 {
    color: #FFFFFF;
    font-style: Bold;
    font-size: 22px;
    line-height: 27px;
    line-height: 100%;
    margin-bottom: 10px;
}
.contact-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}
.contact-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #4A525F;
}
.tech-skils-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}
.tech-skils-item {
    color: #FB6D3A;
}
.tech-skils-text {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}


